@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: #00309f;
}

.header-container {
	text-align: center;
	color: #00309f;
	margin-bottom: 30px;
}

.header-title {
	margin-bottom: 0;
	margin-top: 80px;
	font-size: 60px;
}

.header-subtitle {
	margin-top: -12px;
	font-size: 22px;
}

.header-link {
	text-decoration: none;
	color: #00309f;
	display: block;
	width: fit-content;
	margin: 0 auto;
}

.card {
	border: 4px solid #00309f;
	border-radius: 12px;
}

.platform-card {
	margin-bottom: 50px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.platform-title {
	text-align: center;
	color: #00309f;
	font-size: 15px;
}

.platform-link-container {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.platform-link {
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: #00309f;
	font-weight: bold;
	border: 2.5px solid #00309f;
	padding: 7px 0;
	width: 150px;
	border-radius: 12px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.platform-link:hover {
	background-color: rgb(231, 236, 253);
}

.platform-link img {
	margin: 0;
	width: 30px;
}

.platform-link p {
	margin: 0;
	margin-top: 3px;
	margin-left: 5px;
}

.home-flex-container {
	display: flex;
	justify-content: center;
}

.home-flex-container .card {
	width: 450px;
}

.home-flex-column {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.card-title {
	font-size: 20px;
	margin-bottom: 15px;
}

.card-title span {
	font-weight: normal;
}

.saved-card {
	margin-bottom: 10px;
}

.about-card {
	text-align: left;
	padding: 20px 30px;
}

.about-card-title {
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0;
}

.about-card-description {
	margin-top: 0;
}

.about-card-description span {
	font-weight: bold;
}

.btn {
	background: none;
	background-color: none;
	outline: none;
	border: 2.5px solid #00309f;
	color: #00309f;
	font-weight: bold;
	padding: 6px 30px;
	border-radius: 13px;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(231, 236, 253);
}

.about-card-btn {
	margin-right: 10px;
}

.saved-card {
	text-align: left;
	display: flex;
	align-items: flex-start;
	padding: 20px;
}

.saved-card-title {
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
}

.saved-card-url {
	font-size: 14px;
	margin-top: 0;
}

.saved-card-contents {
	margin-left: 15px;
}
